.roadmap {
  overflow-x: visible;
  background-color: #191c1f;
  background-image: url('../images/asfalt-light.png');
  padding-bottom: 100px;
  color: #fff;
}

.titleWrapper h1{
  font-size: 7rem;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.roadmap__initial { 
  font-size: 1.6rem;
  text-align: center;
  width: 58vw;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.roadmap__initial p { 
  margin-bottom: 12px;
  margin-top: 12px;
}

.roadmap__postTitle h2{ 
  margin-top: 150px;
  margin-bottom: 20px;
  font-size: 4.5rem;
  text-align: center;
}

.roadmap__wrapper { 
  display: flex;
  flex-direction: column;
}

.roadmap__group { 
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.roadmap__individual { 
  width: 42vw;
  text-align: center;
  padding: 30px 50px;
  cursor: pointer;
}

.roadmap__titleText { 
  font-size: 2.5rem;
  margin: 5px auto;
}

.roadmap__titleText.active { 
  font-size: 2.5rem;
  margin: 5px auto;
}

.roadmap__titleText::after { 
  content: '+';
  float: right;
  margin-left: 5px;
}

.roadmap__titleText.active::after { 
  content: '-';
  float: right;
  margin-left: 5px;
}

.roadmap__individualText { 
  display: none;
}

.roadmap__individualText.active { 
  display: unset;
}

.roadmap__individualText p { 
  font-size: 1.4rem;
  margin: 10px auto;
}

@media screen and (max-width: 960px) {
  .roadmap {
    padding-bottom: 50px;
  }
  .titleWrapper h1 { 
    font-size: 6rem;
  }

  .roadmap__initial {
    width: 80vw;
  }

  .roadmap__initial p { 
    font-size: 1.2rem;
  }

  .roadmap__postTitle h2 { 
    font-size: 3.8rem;
  }

  .roadmap__group {
    flex-direction: column;
  }

  .roadmap__individual{
    width: 75vw;
  }
}