.team { 
    margin: 0;
    height: 100%;
    background-color: #191C1F;
    background-image: url('../images/asfalt-light.png');
    color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow-x: visible;
    padding-top: 50px;
    padding-bottom: 100px;
}

.team__container { 
    text-align: center;
    width: 78vw;
    overflow-x: visible;
}

.team__container h1 { 
    margin: 0;
    font-size: 5rem;
}

.team__container p{
    font-size: 1.2rem; 
    margin: 0;
    padding: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.team__imgContainer {
    padding-bottom: 50px;
    width: 93vw;
    display: flex;
    flex-direction: column;
    overflow-x: visible;
    justify-content: center;
    align-items: center;
}

.team__group { 
    height: 100%;
    display: flex;
    flex-direction: row;
}

.team__imgIndividual { 
    height: 100%;
    width: 100%;
    overflow-x: visible;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.team__imgContainer img{ 
    width: auto;
    height: 300px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}

.team__imgContainer figcaption { 
    text-align: center;
    width: 90%;
    margin: auto;
    font-weight: 500;
    font-family: 'Akronim', cursive;
    font-size: 2rem;
    cursor: pointer;
}

.team__imgContainer p { 
    width: 300px;
    text-align: center;
    margin: auto;
    cursor: pointer;
}

.team__aboutTitle {
    margin: auto;
    text-align: center;
    cursor: pointer;
}

.team__aboutTitle.active::after { 
    content: '+';
}

.team__aboutTitle::after {
    content: '-';
    float: right;
    font-weight: 600;
}

.team-linksWrapper { 
    padding-top: 10px;
    overflow-x: visible;

}
.team-links {
    color: #000;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
}

@media screen and (max-width: 960px) {
    .team { 
        padding-bottom: 40px;
    }
    .team__group { 
        flex-direction: column;
    }

    .team__imgIndividual { 
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .team__imgContainer img{ 
        width: auto;
        height: 200px;
        border-radius: 0px;
        margin: auto;
    }
}

